<div class="container mt-3">


  <%= link_to 'Create a new article', new_article_path, class: "btn btn-success mb-3"%>
  
  <% @articles.each do |article| %>
  <div class="card shadow mb-3 bg-white rounded">
    <h5 class="card-header font-italic">Posted by Aaron Mikhail Salud</h5>
    <div class="card-body">
        <h5><%= article.title %></h5>
      <p class="card-text"><%= truncate(article.description, length:100) %></p>
        <%= link_to 'View', article_path(article), class: "btn btn-outline-primary" %>    
        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info"  %>
        <%= link_to 'Delete', article_path(article), method: :delete, class: "btn btn-outline-danger" , data: { confirm: 'Are you sure you want to delete this article?'} %>
    </div>
  </div>
  <% end %>
</div>

