<div class="container">
  <div class="my-3">
    <%= will_paginate @users, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
  <% @users.each do |user| %>
    <div class="card my-3">
      <div class="card-header text-center">
        <h5><%= user.username %></h5>
      </div>
      <div class="card-body">
        <%= gravatar_for user, size:200 %>
        <p class="card-text text-center my-3"><%= pluralize(user.articles.count, "article")%></p>
        <div class="my-3 text-center">
          <%= link_to 'View', user_path(user), class: "btn btn-outline-primary" %>
          <%if logged_in? && user == current_user%>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-info"  %>
          <%end%>
        </div>
      </div>
      <div class="card-footer text-center">
        <small >Joined <%= time_ago_in_words(user.created_at)%> ago</small>
      </div>
    </div>
  <%end%>
  <div class="my-3">
    <%= will_paginate @users, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
